[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
rq = "*"
redis = "*"
types-redis = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
sanic-testing = "*"
mypy = "*"
mock = "*"
types-mock = "*"
fakeredis = "*"

[pipenv]
allow_prereleases = true
