[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = ">=23.3.0"
rq = "*"
redis = ">=4.6.0"
types-redis = "*"
requests = "*"
types-requests = "*"
sanic-json-logging = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
sanic-testing = "*"
mypy = "*"
mock = "*"
types-mock = "*"
fakeredis = ">=2.15.0"

[pipenv]
allow_prereleases = true
